
body {
  background-size: 1454px;;
  background-image: url(/assets/backgroundImg.jpg);
}
#backsheet {
  background-color: black;
  width: 700px;
  height: 560px;
  opacity: 0.8;
  margin: auto;
  margin-top: 20px;
  color: white;
}
.head {
  color: white;
  font-size: 27px;
  text-align: center;
  position: relative;
  top: 50px;
}
.BUTTEN1 {
position: relative;
top: 30px;
left: 113px;
}
.butten1 {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 160px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  margin-left: 165px;
  border-radius: 5px;
  border: 3px solid #009cd3;
}
 .butten1:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
  cursor: pointer;
}
.dt1 {
  margin-top: 110px;
  margin-left: 190px;
}
.dt2 {
  margin-top: 50px;
  margin-left: 126px;
}
.dt3 {
  margin-top: 50px;
margin-left: 159px;
}
.dt4 {
  margin-top: 20px;
margin-left: 143px;
}
.dt5 {
  margin-top: 50px;
margin-left: 145px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li a {
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

nav li.first a {
	border-left: solid 1px #fff;
}

nav li a p.menu1 {
	font-size: 11px;
	margin: 3px 0 5px 0;
}

nav li a p.menu2 {
	font-size: 22px;
	margin: 0 0 5px 0;
}

nav li a:hover {
	background-color: #eee;
}

nav ul:after {
	content: "";
	display: block;
	clear: both;
}

nav li {
	float: left;
	width: 20%;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
}
.menu3 {
	font-size: 11px;
	position: absolute;
  top: 1px;
  left: 547px;

}

.menu4 {
	font-size: 22px;

}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li a {
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

nav li.first a {
	border-left: solid 1px #fff;
}

nav li a p.menu1 {
	font-size: 11px;
	margin: 3px 0 5px 0;
}

nav li a p.menu2 {
	font-size: 22px;
	margin: 0 0 5px 0;
}

nav li a:hover {
	background-color: #eee;
}

nav ul:after {
	content: "";
	display: block;
	clear: both;
}

nav li {
	float: left;
	width: 20%;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
}
