<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>contact</title>
		<link rel="stylesheet" href="css/contact.css">
	<link rel="stylesheet" href="css/narmalize.css">
	</head>
	<header>
		<nav>
		<ul>
		<li class="first"><a href="home2.html">
			<p class="menu1"><font face="HGP教科書体">ホーム</font></p>
			<p class="menu2"><font face="HGP教科書体">HOME</font></p>
		</a></li>
		<li><a href="about.html">
			<p class="menu1"><font face="HGP教科書体">アトラクション情報</font></p>
			<p class="menu2"><font face="HGP教科書体">ABOUT</font></p>
		</a></li>
		<li><a href="story.html">
			<p class="menu1"><font face="HGP教科書体">ストーリー</font></p>
			<p class="menu2"><font face="HGP教科書体">STORY</font></p>
		</a></li>
		<li><a href="characters.html">
			<p class="menu1"><font face="HGP教科書体">キャラクター</font></p>
			<p class="menu2"><font face="HGP教科書体">CHARACTERS</font></p>
		</a></li>
		<li><a href="contact.html">
			<p class="menu1"><font face="HGP教科書体">問い合わせ</font></p>
			<p class="menu2"><font face="HGP教科書体">CONTACT</font></p>
		</a></li>
		</ul>
		</nav>
	</header>
	<body>
<div id="contact">
<form class="" action="index.html" method="post">
	<p class="menu3"><font face="HGP教科書体">問い合わせ</font></p>
	<p class="menu4"><font face="HGP教科書体">- CONTACT -</font></p>
	<p class="menu5"><font face="HGP教科書体">神戸電子へのアクセス、わからないことなどお気軽にお問い合わせください。</font></p>
		<dl>
			<div class="NAME1">
			<dt><font face="HGP教科書体"><p>お名前</p></font></dt>
			</div>
			<div class="NAME2">
		  <dd><input type="text" name="name" value="" class="name"></dd>
		</div>
		<div class="EMAIL1">
			<dt><font face="HGP教科書体"><p>メールアドレス</p></font></dt>
			</div>
			<div class="EMAIL2">
			<dd><input type="text" name="mailaddress" value="" class="email"></dd>
		</div>
			<div class="MESSAGE1">
			<dt><font face="HGP教科書体"><p>お問い合わせ内容</p></font></dt>
			</div>
			<div class="MESSAGE2">
			<dd><textarea name="message" class="message"></textarea></dd>
		</dl>
		<div class="BUTTEN">
		<button type="submit" name="dtn" class="butten">送信する</button>
	</div>
	</form>
</div>
	</body>
</html>
