<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>STORY - LIBERTY</title>
	<!--  CSS -->
	<%= stylesheet_link_tag "normalize" %>
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<%= stylesheet_link_tag "style3" %>
</head>

<body>

<%= render "header" %>

<main class="wrapper">
	<article class="about">
	<p><font face="HGP教科書体">ストーリー</face></p>
	<h1><font face="HGP教科書体">― 物語 ―</face></h1>
	</article>
	<div class="story">
		<div class="story-1">
				<font face="HGP教科書体"><strong>
				<p class="sho">ある日、新開発のリアル脱出アトラクション完成に先立ち、試験的な運用も兼ねた</p>
				<p class="sho">ベータテストが神戸電子専門学校で行われることになった。</p>
				<p class="sho">しかし、ゲームの途中に突然姿を現した「ルーラー」と名乗る仮面の男の手により</p>
				<p class="sho">会場は占領され、一同は瞬く間に混乱の渦へと巻き込まれることとなる。</p>
				<p class="sho">ルーラーが繰り出す、まるで人の本性を浮き彫りにするかのような数々の奇怪な問題。</p>
				<p class="sho">手のひらで踊らされていく一同は、</p>
				<p class="rubi">リアル</p></strong>
				<p class="dai">現実</p>
				<p class="tyuu"><strong>の</strong></p>
				<p class="dai">牢獄</p>
				<strong><p class="tyuu">から脱出することは</p>
				<p class="tyuu2">できるのか。</p>
				</strong></face>
		</div>
	</div>
</main>
<!-- js -->
<script src="js/jquery-3.1.1.min.js"></script>
</body>
</html>
